//start menu
section.menu.js-menu
   .menu__overlay
   a(href="").logo
   select.lang.js-select(hidden="")
      option(value="rus") rus
      option(value="eng") eng
   ul.menu__nav
      li: a(href="index.html" data-index="series") SERIES
      li: a(href="p28.html" data-index="28") MODELS
      li: a(href="choose.html" data-index="choose") TRACKS CHOOSING
      li: a(href="composite.html" data-index="composite") #COMPOSIT TRACKS
   .follow
      span FOLLOW US:
      .follow__icons
         a.icon-fb.follow__fb(href="https://facebook.com" target="blank")
         a.icon-inst.follow__inst(href="https://instagram.com" target="blank")
//end menu